<a href="/resources/server/add" style="float:right" class="btn btn-default btn-sm active" role="button">添加服务器</a>
<a href="/resources/server/list?key=sa"  class="btn btn-default btn-sm active" role="button">sa</a>
<a href="/resources/server/list?key=background"  class="btn btn-default btn-sm active" role="button">机器身份</a>
<a href="/resources/server/list?key=hardware"  class="btn btn-default btn-sm active" role="button">硬件配置</a>
<a href="/resources/server/list?key=os"  class="btn btn-default btn-sm active" role="button">系统信息</a>